# Entorno virtual
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos generados por VS Code
.vscode/

# Archivos de descarga (no queremos rastrearlos en Git)
descargas_mp3/
downloads/

# Logs u otros archivos temporales
*.log
*.tmp
